{% extends "bootstrap/base.html" %}

{%block title %} Jail Manager {% endblock %}

{% block navbar %}
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!--<button type="button", class="navbar-toggle" ,data-toggle="collapse",
        data-target=".navbar-collapse">   
        </button> -->
        <a href="/" class="navbar-brand">Jail Manager</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li> <a href="/inmates/add">Inmate Personal Records </a></li>
          <li> <a href="/inmates/nextofkin"> Next of Kin </a></li>
          <li> <a href="/inmates/penalrecords"> Penal Records </a></li>
          <li> <a href="/inmates/transfers"> Transfers </a></li>
          <li> <a href="/inmates/discharge"> Discharges </a></li>
          <li> <a href="auth/logout"> logout </a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content%}
    {% block page_content %} {% endblock %}
{%endblock%}